<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="MemberCard.js"></script>
    <script src="main.js"></script>
  </head>
  <body>
   <member-card 
   norm-image="https://picsum.photos/200" alt-image="https://picsum.photos/200?grayscale" mem-name="Hiro Kakitani">
    </member-card>
    <!--
    <member-card norm-image="https://picsum.photos/210" alt-image="https://picsum.photos/210?grayscale" mem-name="Hiroto Kakitani"></member-card>
    -->
  </body>
</html>