body{
    background-size: cover;
    background-attachment: fixed;
    scroll-snap-type: y mandatory;

}
.about-section {
    scroll-snap-align: center;
    padding: 1%;
    -height:33vh;
    background-color:rgba(0, 0, 0, 0.513);
    color:white;
}
.about-section p{
    font-size: 1.25em;
}
.about-filler{
    height:66vh;
}

h1{
    text-align:center;
    font-size: 2em;
}

nav{
    scroll-snap-align:start;
}
footer{
    scroll-snap-align:start;
}

#about-us{
    margin-top:33vh;
}
