.fullscreen-background{
    background-image: url("../../res/photos/carousel_13.JPG");
    
}
.about-section {
    padding: 1%;
    height:33vh;

}
.about-filler{
    height:66vh;
}

#about-us, #some-heading{
    background-color: rgb(167, 167, 167);
}

#history{
    background-color: rgb(109, 0, 0);
}
