.page-content{
    height:100vh;
}

article{
    flex:1;
    flex-grow:1;    
    text-align: center; 
    display: flex;
    flex-direction:column;
    justify-content: space-around
}
h1{
    font-size:2em;
    padding-bottom:1em;
}
p{
    font-size: 1em;
    padding-bottom:1em;
}

p a{
    display:inline-block;
}

section{
    background-color:  rgba(0, 0, 0, 0.13);
    border-radius:0.5em;
    align-self: center;
    padding:0.5em;
    margin:0.5em;
}

@media screen and (min-width: 950px) {
    p{
        font-size: 1.5em;
    }
    section{
        background-color:  rgba(0, 0, 0, 0.13);
        border-radius:0.5em;
        align-self: center;
        padding:1em;
        margin:1em; 
    }
}