.page-content{
    height:100vh;
}

article{
    flex:1;
    flex-grow:1;    
    text-align: center; 
    display: flex;
    flex-direction:column;
    justify-content: space-around
}
h1{
    font-size:2em;
    padding-bottom:1em;
}
p{
    font-size: 1em;
    padding-bottom:1em;
}

p a{
    display:inline-block;
}

@media screen and (min-width: 950px) {
   p{
       font-size: 1.5em;
   }
}