#grid{
    display:flex;
    flex-direction:column;
}

img{
    margin:5px;
    width:100%;
    height:auto;
    flex:1;
}


@media screen and (min-width: 720px) {

    #grid{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: 200px;
        grid-gap: 1rem;
        grid-auto-flow:  dense;
        margin: 10px;
    }
    
    img{
        width:100%;
        height:100%;
        object-fit: cover;
        grid-column: span 1;
        grid-row:span 1;
    }
    img:nth-child(4n){
        grid-column: span 2;
        grid-row: span 2;
    }
    img:nth-child(8n){
        grid-column: span 3;
        grid-row: span 3;
    }
}
